
@import "homepage.css";
@import "navi.css";
@import "forms.css";
@import "tables.css";
#top {
    color: #FFFFFF;
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: auto;
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.justify {
    text-align: justify;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.nostart {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
br.clear {
    clear: both;
    margin-top: -15px;
}
a {
    outline: medium none;
    text-decoration: none;
}
.fl_left {
    float: left;
}
.fl_right {
    float: right;
}
.imgl, .imgr {
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    color: #000000;
    padding: 5px;
}
.imgl {
    clear: left;
    float: left;
    margin: 0 8px 8px 0;
}
.imgr {
    clear: right;
    float: right;
    margin: 0 0 8px 8px;
}
div.wrapper {
    display: block;
    float: left;
    margin: 0;
    text-align: left;
    width: 100%;
}
.col1 {
    background: linear-gradient(#DFE6EA, #F7F9FA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 53px #FFFFFF inset;
    color: #FFFFFF;
}
.col2 {
    background-color: #0B2F45;
    color: #FFFFFF;
}
.col3, .col4 {
    background-color: #FFFFFF;
    color: #000000;
}
.col5 {
    background-color: #1C3451;
    color: #000000;
}
#head, #gallery, #breadcrumb, #container, #footer {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 960px;
}
#head {
    height: 10px;
    z-index: 1000;
}
#head h1, #head p, #head ul, #head a, #head img {
    line-height: normal;
    list-style: none outside none;
    margin: 30px 10px;
    padding: 0;
    text-align: center;
}
#head h1 a {
    color: #FFFFFF;
    font-size: 38px;
    font-weight: normal;
}
#head p {
    background-color: #294E79;
    color: #F5F5F5;
    display: block;
    font-size: 16px;
    left: 0;
    position: absolute;
    top: 55px;
}
#breadcrumb {
    color: #FFFFFF !important;
    padding: 10px 0;
}
#breadcrumb a {
    color: #FFFFFF !important;
    font-weight: normal;
}
#breadcrumb ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#breadcrumb ul li {
    color: #FFFFFF !important;
    display: inline;
}
#breadcrumb ul li.first {
    font-weight: normal;
}
#breadcrumb ul li.actpage {
    font-weight: bold;
}
#breadcrumb ul li.current a {
    color: #FFFFFF !important;
    text-decoration: underline;
}
#container {
    padding: 0;
}
#container h1, #container h4, #container h5, #container h6 {
    color: #03219D;
    font-size: 32px;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 15px;
    padding: 0;
}
#container h2 {
    background-color: #F9F9F9;
    color: #00008B;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 14px 0;
}
#container h3 {
    color: #999999;
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
    margin: 20px 0 0;
}
#container h1 {
    margin: 40px 0 12px !important;
}
#container a {
    color: #FFFFFF;
}
#content {
    display: block;
    float: left;
    width: 690px;
}
#comments {
    margin-bottom: 40px;
}
#comments .commentlist {
    margin: 0;
    padding: 0;
}
#comments .commentlist ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even {
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 15px;
}
#comments .commentlist li.comment_odd {
    background-color: #F7F7F7;
    color: #666666;
}
#comments .commentlist li.comment_odd a {
    background-color: #F7F7F7;
    color: #294E79;
}
#comments .commentlist li.comment_even {
    background-color: #E8E8E8;
    color: #666666;
}
#comments .commentlist li.comment_even a {
    background-color: #E8E8E8;
    color: #294E79;
}
#comments .commentlist .author .name {
    font-weight: bold;
}
#comments .commentlist .submitdate {
    font-size: smaller;
}
#comments .commentlist p {
    font-weight: normal;
    margin: 10px 5px 10px 0;
    padding: 0;
    text-transform: none;
}
#comments .commentlist li .avatar {
    border: 1px solid #EEEEEE;
    float: right;
    margin: 0 0 0 10px;
}
#column {
    display: block;
    float: right;
    width: 250px;
}
#column .holder, #column .featured {
    display: block;
    margin-bottom: 40px;
    width: 300px;
}
#column .holder p {
    line-height: 1.6em;
}
#column .holder h2.title {
    background-color: #FFFFFF;
    color: #000000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 65px;
    line-height: normal;
    margin: 0;
    padding: 15px 0 8px;
    width: 100%;
}
#column .holder h2.title img {
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    color: #000000;
    float: left;
    margin: -15px 8px 0 0;
    padding: 5px;
}
#column .holder p.readmore {
    display: block;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    width: 100%;
}
#column div.imgholder {
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    color: #666666;
    display: block;
    margin: 0 0 10px;
    padding: 4px;
    width: 290px;
}
#column .featured a {
    background-color: #F9F9F9;
    color: #294E79;
}
#column .featured ul, #column .featured h2, #column .featured p {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#column .featured li {
    background-color: #F9F9F9;
    color: #2E271D;
    display: block;
    margin: 0;
    padding: 20px 25px;
    width: 250px;
}
#column .featured li p {
    line-height: 1.6em;
}
#column .featured li p.imgholder {
    border: 1px solid #CCCCCC;
    display: block;
    height: 90px;
    margin: 20px 0 15px;
    padding: 4px;
    width: 240px;
}
#column .featured li h2 {
    background-color: #F9F9F9;
    color: #00008B;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0 0 14px;
}
#column .featured li h4 {
    background-color: #F9F9F9;
    color: #00008B;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0 0 14px;
}
#column .featured p.more {
    display: block;
    font-weight: bold;
    line-height: normal;
    margin-top: 15px;
    text-align: right;
    width: 100%;
}
#footer {
    clear: both;
    float: left;
    width: 100%;
}
#footer a {
    color: #525252;
}
#footer h2 {
    color: #CCCCCC;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 15px;
    padding: 0 0 8px;
}
#container #contactform {
    color: #000000;
    display: block;
    float: right;
    margin: 20px 0 30px;
    width: 350px;
}
#container #compdetails {
    color: #000000;
    display: block;
    float: left;
    margin: 20px 0 30px;
    width: 350px;
}
#container #compdetails ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#container #compdetails li {
    margin: 0 0 12px;
}
#container #compdetails li.last {
    margin: 0;
}
.footerfont {
    color: #000000;
}
#container #compdetails #officialdetails {
    float: left;
}
#container #compdetails #officialdetails li.last {
    margin-bottom: 20px;
}
#container #compdetails #contactdetails {
    float: left;
}
#copyright {
    background-color: #222222;
    border-top: 1px dashed #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    margin: 20px 0 0;
    padding: 20px 0 0;
    width: 100%;
}
#copyright p {
    color: #FFFFFF;
    margin: 200px 0 0;
    padding: 0;
    position: relative;
}
#gallery > img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EEEEEE;
    margin: 10px 0;
    padding: 5px;
}
#sliderb_container {
    height: 349px !important;
    margin: 0 auto;
}
#sliderb_container img {
    height: 210px !important;
    margin-top: 1px;
}
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {
    top: 96px !important;
}
#address {
    float: left;
    height: auto;
    position: relative;
    width: 40%;
}
.footer-content {
    color: #FFFFFF;
    margin: 10px auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 960px;
}
.social-links ul {
    float: right;
    margin: 0;
    padding: 0;
}
.social-links li {
    opacity: 1;
    transform: translate(0px) rotate(0deg) scale(1);
    visibility: visible;
}
.social-links {
    float: right;
}
.social-links li {
    float: left;
    list-style: none outside none;
    margin: 0 10px;
}
.social-links li a {
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 10px;
    position: relative;
}
.social-links li a i {
    float: left;
}
.social-links li a i:hover {
    color: #FFFFFF;
}
.address {
    color: #999999 !important;
    float: left;
    text-align: left;
}
.address p, h3 {
    color: #999999 !important;
}
.footer-content ul {
    float: left;
    margin: 0;
    padding: 0;
}
.nav ul li strong {
    color: #999999 !important;
}
ul .nav a {
    color: #999999 !important;
}
.footer-content .nav {
    color: #999999 !important;
    float: right;
    margin: 10px 0;
}
.footer-content .nav li {
    float: left;
    list-style: none outside none;
    padding: 0 30px 0 0;
    text-align: left;
}
.footer-content li a {
    color: #999999 !important;
}
.nav li li {
    clear: both;
    float: left;
    padding: 0 0 10px !important;
}
.footer-content .copy-rights {
    color: #FFFFFF !important;
    float: left;
    margin-bottom: 10px;
}
.nav li a strong {
    color: #999999 !important;
}
p {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 12px 0 0 !important;
}
* {
    color: #222222;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    line-height: 1.5;
}
#sitemap span a {
    color: #C3C3C3;
    float: left;
    font-weight: bold;
    left: 400px;
    position: relative;
}
