
#topnav {
    color: #FFFFFF;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 20px 0 0;
}

#topnav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#topnav li {
    float: left;
    width: 15%;
}

#topnav li.logo {
    width: 40%;
}

#topnav li li {
    clear: both;
    float: left;
}

#topnav li a:link, #topnav li a:visited {
    color: #222222;
    display: block;
    font-size: 14px;
    margin: 0 0 0 1px;
    padding: 14px 15px 13px;
}

#topnav li a:hover, #topnav li a.active {
    color: #3D73B1;
}

#topnav li li a:link, #topnav li li a:visited {
    background-color: #3D73B1;
    color: #FFFFFF;
    float: none;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 7px 10px;
    width: 150px;
}

#topnav li li a:hover {
    background-color: #F5F5F5;
    color: #666666;
}

#topnav li ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color -moz-use-text-color #E6E6E6 #E6E6E6;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    height: auto;
    left: -999em;
    position: absolute;
    width: 170px;
    z-index: 9999;
}

#topnav li ul a {
    width: 140px;
}

#topnav li ul ul {
    margin: -32px 0 0;
}

#topnav li:hover ul ul {
    left: -999em;
}

#topnav li:hover ul, #topnav li li:hover ul {
    left: auto;
}

#topnav li:hover {
    position: static;
}

#topnav li.last a {
    margin-right: 0;
}

.footer-master {
    background: linear-gradient(to bottom, #666666 0%, #222222 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.header-master {
    background: none repeat scroll 0 0 #F5F5F5;
}
