
#topnav {
    background: linear-gradient(#1B6EA2, #0F537D) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 43px;
    margin-top: 67px;
}

#topnav ul {
    border-left: 1px solid #042B41;
    border-right: 1px solid #297CA5;
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#topnav li {
    border-left: 1px solid #297CA5;
    border-right: 1px solid #042B41;
    float: left;
    text-align: center;
    width: 130px;
}

#topnav li.logo {
    width: 40%;
}

#topnav li li {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    border-left: medium none;
    border-right: medium none;
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
}

#topnav li a:link, #topnav li a:visited {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 12px 13px 10px;
}

#topnav li a:hover, #topnav li a.active {
    color: #FFFFFF;
}

#topnav li li a:link, #topnav li li a:visited {
    color: #FFFFFF;
    float: none;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
}

#topnav li li a:hover {
    background-color: #002133;
}

#topnav li ul {
    background: none repeat scroll 0 0 #022C47;
    border: medium none;
    left: -1000em;
    margin: 0 0 0 -13px;
    position: absolute;
    top: 100%;
    width: 157px;
    z-index: 9999;
}

#topnav li ul a {
    border-top-color: rgba(0, 0, 0, 0);
    width: 100%;
}

#topnav li:hover ul ul {
    left: -1000em;
}

#topnav li:hover ul, #topnav li li:hover ul {
    left: auto;
}

#topnav li:hover {
    background: linear-gradient(#014E7E, #02314E) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    position: relative;
}

#topnav li.last a {
    margin-right: 0;
}

.footer-master {
}

.header-master {
    background: none repeat scroll 0 0 #F5F5F5;
    height: 120px;
    position: relative;
    width: 100%;
}

.non-active {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    padding: 12px 13px 10px;
}

.non-active:hover {
    color: #FFFFFF;
}

#topnav-inner {
    margin: 0 auto;
    width: 960px;
}
