
#topnav {
    background: linear-gradient(#0F537D, #0F537D) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 4px 29px 2px #115781 inset;
    color: #FFFFFF;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    height: 45px;
    margin-top: 66px;
}
#topnav ul {
    border-left: 1px solid #042B41;
    border-right: 1px solid #297CA5;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#topnav li {
    border-left: 1px solid #297CA5;
    border-right: 1px solid #042B41;
    float: left;
    text-align: center;
    width: 130px;
}
#topnav li.logo {
    width: 40%;
}
#topnav li li {
    border-left: medium none;
    border-right: medium none;
    clear: both;
    float: left;
    text-align: center;
    width: 150px;
}
#topnav li a:link, #topnav li a:visited {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 12px 13px 10px;
}
#topnav li a:hover, #topnav li a.active {
    color: #FFFFFF;
}
#topnav li li a:link, #topnav li li a:visited {
    background-color: #0F537D;
    color: #FFFFFF;
    float: none;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
    width: 150px;
}
#topnav li li a:hover {
    background-color: #085A89;
    color:#e67e67;
}
#topnav li ul {
  
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    height: 80px;
    left: -1000em;
    margin-top: 2px;
    position: absolute;
    width: 165px;
    z-index: 9999;
}
#topnav li ul a {
    border-top-color: rgba(0, 0, 0, 0);
    width: 140px;
}
#topnav li:hover ul ul {
    left: -1000em;
}
#topnav li:hover ul, #topnav li li:hover ul {
    left: auto;
    margin-left: -14px;
    margin-top: 10px;
}
#topnav li:hover {
    position: relative;
}
#topnav li.last a {
    margin-right: 0;
}
.footer-master {
}
.header-master {
    background: none repeat scroll 0 0 #F5F5F5;
    height: 120px;
    position: relative;
    width: 100%;
}
.non-active {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    padding: 12px 13px 10px;
}
.non-active:hover {
    color: #FFFFFF;
}
#topnav-inner {
    margin: 0 auto;
    width: 960px;
}
